

h1 {
    text-align: center;
    font-size: 100px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    text-align: center;
}

.form-class {
    text-align: center;
}

button {
    cursor: pointer;
    font-weight: bold;
  }
  
  body {
    background-color: #eae8e0;
  }